body {
	background-color: #fff;
	color: #eee;
}

#test_a {
	background-color: #eee;
	width: 400px;
	height: 100px;
	margin: 10px;
	float: right;
}

#test_b {
	background-color: #eee;
	width: 400px;
	height: 100px;
	margin: 10px;
	position: relative;
}

#test_c {
	background-color: #eee;
	width: 400px;
	height: 100px;
	margin: 10px;
	position: relative;
}

#div_b {
	background-color: #eed;
	border: solid 3px #999;
}

#div_c_1 {
	background-color: #dee;
	border: solid 3px #999;
}

#div_c_2 {
	background-color: #ede;
}

.inside {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border: dotted 0px #888;
}

.splitter {
	background-color: #cfc;
}
pre {
	margin: 0px;
	background-color: #ddd;
}
