body {
	background-color: #fff;
	color: #eee;
	margin: 0px;
	padding:; 0px;
}

#test_a {
	background-color: #eee;
	width: 300px;
	height: 100px;
	margin: 10px;
	float: right;
}

#test_b {
	background-color: #eee;
	width: 300px;
	height: 100px;
	margin: 10px;
	position: relative;
}

#test_c {
	background-color: #eee;
	width: 300px;
	height: 100px;
	margin: 10px;
	position: relative;
}

#test_d {
	background-color: #ddd;
	border: solid 1px red;
	position: relative;
	width: 400px;
	height: 400px;
}

#div_b {
	background-color: #eed;
	border: solid 3px #999;
}

#div_c_1 {
	background-color: #dee;
	border: solid 3px #999;
}

#div_c_2 {
	background-color: #ede;
	border: solid 3px #999;
}

.inside {
	border: dotted 0px #888;
}

.splitter {
	background-color: #cfc;
}

.collapser {
	background-color: #8c8;
	position: absolute;
	height: 6px;
	width: 6px;
	top: 50%;
	left: 50%;
	margin-top: -3px;
	margin-left: -3px;
	cursor: pointer;
}

.collapser:hover {
	background-color: red;
}

pre {
	margin: 0px;
	background-color: #777;
}
