body {
	background-color: #333;
}

#fake {
	float: right;
	background-color: #555;
	width: 100px;
	height: 100px;
}

#test {
	background-color: #999;
	width: 500px;
	height: 200px;
}

#n {
	background-color: #339;
}

#n2 {
	background-color: #933;
}

.inside {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border: dotted 2px black;
}

pre {
	margin: 0px;
	background-color: white;
}